/*
   *  черновая версия
   *  будет пределана
*/
html {
    background: url(bckgr.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: auto;

}

body {
    text-align: center;

}

header {
    color: rgb(27, 163, 156);
    text-align: center;

}

.chat {

    width: 50%;
    margin: auto;
    text-align: center;

}

.section {
    text-align: center;
}

.menu {
    text-align: center;

}

.mButtons {
    margin: 0%;
    text-align: left;
    display: inline-flex;

}

.mButton {
    padding: 8px 15px;
    color: #fff;
    border-style: none;
    background-color: #83D6DE;
}

.name-field {
    display: inline-flex;
    text-align: right;
    padding: 8px 15px;
}

.nchButton {
    padding: 8px 15px;
    color: #fff;
    border-style: none;
    background-color: #83D6DE;
}

.chat-frame {
    list-style-type: none;
    display: table;
    margin: 0%;
    border-collapse: collapse;
    background-color: azure;
    opacity: 0.7;
    /*   background: rgba(51, 102, 153, .1);*/
    width: 100%;
    height: 350px;
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
}

.msgsList {
    list-style-type: none;
    text-align: left;
    margin: 0;
}

.input-msg-frame {
    width: 100%;
    display: inline-flex;
    margin-top: 1%;
    opacity: 0.9;
}

.input-button-frame {
    width: 15%;
}

.input-text-frame {
    width: 85%;
    padding: 0;
    margin: 0

}

.msg-input-field {
    width: 100%;
    padding: 0;
    margin: 0

}
.msg-send-button {
    color: #fff;
    border-style: solid;
    background: #83D6DE;
    border-color: #83D6DE;
    width:100% ;
    height: 47px

}

.msg {
    text-align: left;
    cursor: pointer;
}

.msgChecked {
    background-color: #ff0a00;
}

.msgDeleted {

}

.footer {
    text-align: right;
    font-family: cursive;
    font-style: italic;

    color: #031316;

}

.error img {
    opacity: 0.5;
    height: 30px;
    width: 30px;
}

#errorId {
    visibility: hidden;
}